   
   *{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
  
   }
   
   body{
       
        background-color:aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        background: #ffe6ed;
        overflow: auto;

        }
        header{
            background-color: #496342;
            position: sticky;
            top: 0;
            font-family: "Shadows Into Light", cursive;
            font-weight: 400;
            font-style: normal; 
        
        
        }
        .nav-container{
            display: flex;
            justify-content: space-between;
            /* margin:2em; */
        }

        nav{
            align-items: center; 
        }

        .big-header{
            font-size: 2.5em;
            color: #f9e076;
            
        }
        
    /* this is the big div at the top of the pg */
        .logo{
            font-size: 1.5rem;
            font-weight: bold; 
            margin-left: 0;
        }

        #nav-links{
            list-style: none;
            display:flex;
            gap: 2rem;
            font-size: 1.5em;
            font-weight: 700;
            /* margin-left:6em; */
         color:white;
        }

        #nav-links > li{
            padding:5px;
            
        
        }

        #nav-links a{
            color:#f9e076;
            text-decoration: none;
            letter-spacing: 2px;
        }

        #nav-links a:hover{
            color:pink;
        }


        footer{
            width: 100%;
            text-align: center;
            height: 25px;
            background-color:  #496342;
            color: whitesmoke;
            margin-bottom:0;
            padding-bottom:5px;
      }